<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='logstyles.css')}}">
</head>
<body>
    <header>
        <h1>Login to Your Account</h1>
    </header>

    <main>
        <form action="/auth" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <div class="button-container">
                <button type="submit" name="action" value="login">Login</button>
                <a href="/register"><button type="button">Register</button></a>
            </div>
            {% if error %}
                <p style="color:red;">{{ error }}</p>
            {% endif %}
        </form>
    </main>

    <footer>
        <p>Big Foot</p>
    </footer>

    <script src="{{url_for('static', filename='logscripts.js')}}"></script>
</body>
</html>